@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
html,body{
  width: 100%;
    font-family: "Lato", sans-serif;

}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 10px;
}
.box{
      max-width: 1500px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 7.5rem;
}